<h2 id="title">Welcome to Ember</h2>

<MapboxGl
  id="map"
  @initOptions={{hash
    style="mapbox://styles/mapbox/basic-v9"
    zoom=17
    center=(array -73.938 40.6635)
  }}
  as |map|
>
  <CartoVectorLayer
    @map={{map.instance}}
    @visible={{this.isVisible}}
    @source={{carto-source-geojson
      (hash
        type='Feature'
        geometry=(hash
          type='Point'
          coordinates=(array -73.938 40.6635)
        )
        properties=(hash)
      )
    }}
    @viz={{carto-viz "
      width: 13
      color: #6A5ACD
      strokeWidth: 0.5
      strokeColor: #191970
    "}}
    as |layer|
  >
    <layer.interactivity.on
      @event="featureEnter"
      @action={{action this.featureEnter}}
    />

    <layer.interactivity.on
      @event="featureLeave"
      @action={{action this.featureLeave}}
    />
  </CartoVectorLayer>
</MapboxGl>

{{outlet}}
